@import '../theme.scss';

.footer-grid-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:15vh ;
    background-color: #FFFFFF;	
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.3);
    .footer-items{
        display: flex;
        flex-direction: row;
        height: inherit;
        width: 100%;
        .footer-span{
            height: inherit;
            width: 80%;
        }
        .footer-btn-section{
            display: flex;
            flex-direction: row;
            height: inherit;
            width: 20%;
            align-items: center;
            justify-content: center;
            .page-number{
                display: flex;
                flex-direction: row;
                height: inherit;
                width: 20%;
                align-items: center;
                justify-content: center;
                p{
                    height: 18px;	
                    width: 5px;	
                    color: #637280;	
                    font-family: Lato;	
                    font-size: 13px;	
                    line-height: 18px;
                }
            }
            .footer-btn{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 40px;	
                width: 140px;	
                border-radius: 3px;	
                background-color: #FF4273;
                cursor: pointer;
                p{
                    height: 27px;	
                    width: 110px;	
                    color: #FFFFFF;	
                    font-family: Lato;	
                    font-size: 14px;	
                    font-weight: bold;	
                    line-height: 27px;	
                    text-align: center;
                }
            }
        }

    }
}