@import '../theme.scss';

.login-form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 50%;
  height: 100%;
    img{
      height: 121px;
      width: 175px;
    }
    .logo-text{
      margin-top:15px;
      height: 27px;	
      width: 286px;	
      color: #2B323C;	
      font-family: Lato;	
      font-size: 30px;	
      font-weight: bold;	
      line-height: 27px;
      text-align: center;
    }
    a{
      height: 18px;	
      width: 130px;	
      color: #3393D1;	
      font-family: Lato;	
      font-size: 13px;	
      line-height: 18px;
      margin-top:18px;
      margin-bottom: 18px;
    }
    .btn{
      height: 50px;
      width: 290px;
      border-radius: 3px;	
      background-color: #17B978;
      cursor: pointer;
        p{
          font-family: Lato;
          font-size: 14px;	
          font-weight: bold;
          line-height: 27px;
          text-align: center;
          color: #FFF
        }
    }

}