/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#FFF;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 35%; /* Could be more or less, depending on screen size */
    height: 50vh;
    .modal-header{
        font-family: Lato;
        font-size: 18px;
    }
    .options{
        display: flex;
        flex-direction: row;
        img{
            margin-left: 5px;
            height: 200px;
            width: 200px;
        }
    }
    .modal-btn{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        .cancel{
            margin-right: 10px;
            border:2px solid #637280;
            border-radius: 3px;
            height: 47px;
            width: 140px;
            color: #637280;	
            font-family: Lato;	
            font-size: 14px;	
            font-weight: bold;	
            line-height: 27px;	
            text-align: center;
            cursor: pointer;

        }
        .continue{
            height: 50px;	
            width: 140px;	
            border-radius: 3px;	
            background-color: #17B978;
            color: #FFFFFF;	
            font-family: Lato;	
            font-size: 14px;	
            font-weight: bold;	
            line-height: 27px;	
            text-align: center;
            cursor: pointer;
        }
    }
    
}