@import '../theme.scss';

.side-nav-grid-container{
    display: grid;
    grid-template-columns: 2fr 10fr;
    .side-nav{
        display: flex;
        flex-direction: column;
        height: 100vh;
        .header{
            display: flex;
            flex-direction: column;
            height: 20vh;
            background-color: #2B323C;
            align-items: center;
            img{
                margin-top: 17px;
                width: 116px;
                height: 80px;
            }
            p{
                height: 27px;
                width: 153px;	
                color: #FFFFFF;	
                font-family: Lato;	
                font-size: 16px;	
                font-weight: bold;	
                line-height: 27px;
                text-align: center;
            }
        }

        .menu{
            display: flex;
            flex-direction: column;
            height: 80vh;
            background-color: #19212B;
            .upper-menu{
                display: flex;
                flex-direction: column;
                height: 65vh;
                width: 100%;
                .search{
                    display: flex;
                    flex-direction: row;
                    height: 5vh;
                    width: 100%;
                    align-items: center;
                    border-bottom: 1px solid #637280;
                    img{
                        height: 32px;
                        width: 32px;
                    }
                    input[type='text']{
                        width: 100%;
                        margin: 2px;
                        background-color: #19212B;
                        border: 0;
                        outline: none;
                        color: #FFFFFF;
                        font-family: Lato;	
                        font-size: 13px;
                        line-height: 18px;
        
                    }
                    input[type='text']::placeholder {
                        color:#637280;
                        font-size: 13px;	
                        font-style: italic;	
                        line-height: 18px;
                      }
                }
                .campaigns{
                    display: flex;
                    flex-direction: row;
                    height: 5vh;
                    width: 100%;
                    align-items: center;
                    border-bottom: 1px solid #637280;
                    cursor: pointer;
                        img{
                            height: 32px;
                            width: 32px;
                        }
                        p{
                            height: 27px;
                            width: 63px;
                            color: #FFFFFF;	
                            font-family: Lato;	
                            font-size: 13px;	
                            line-height: 27px;
                        }
                }
                .dashboard{
                    display: flex;
                    flex-direction: row;
                    height: 5vh;
                    width: 100%;
                    align-items: center;
                    border-bottom: 1px solid #637280;
                    cursor: pointer;
                    img{
                        height: 32px;
                        width: 32px;
                    }
                    p{
                        height: 27px;
                        width: 63px;
                        color: #FFFFFF;	
                        font-family: Lato;	
                        font-size: 13px;	
                        line-height: 27px;
                    }
            }
                
            }
            .lower-menu{
                display: flex;
                flex-direction: column;
                height: 10vh;
                width: 100%;
                .logout{
                    display: flex;
                    flex-direction: row;
                    height: 5vh;
                    width: 100%;
                    align-items: center;
                    border-top: 1px solid #637280;
                    border-bottom: 1px solid #637280;
                    cursor: pointer;
                    img{
                        height: 32px;
                        width: 32px;
                    }
                    p{
                        height: 27px;
                        width: 63px;
                        color: #FFFFFF;	
                        font-family: Lato;	
                        font-size: 13px;	
                        line-height: 27px;
                    }
                }  
                .terms-privacy-section{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p{ 
                        color: #FFFFFF;
                        font-family: Lato;	
                        font-size: 13px;
                    }
                    .terms-and-privacy{
                        color: #FFFFFF;
                        a{
                        font-family: Lato;	
                        font-size: 13px;
                        color: #3393D1;
                        text-decoration: none;
                        }
                    }
                }           
            }
        }
    }
    .main{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        .navbar{
            display: flex;
            height: 20vh;
            width: inherit;
        }
        .content{
            display: flex;
            height: 80vh;
            width: inherit;
            align-items: center;
            justify-content: center;
        }
    }

}