@import '../theme.scss';

.campaigns-page{
    display: flex;
    flex-direction: column;
    width: 1200px;
    height:80vh;
    align-items: center;
    justify-content: center;
    .header{
        height: 27px;	
        color: #2B323C;	
        font-family: Lato;	
        font-size: 20px;	
        font-weight: bold;	
        line-height: 27px;
    } 
    img{
        margin-top: 36px;
        height: 163px;
        width: 306px;
        }
    .lead{
        height: 18px;	
        width: 217px;	
        color: #637280;	
        font-family: Lato;	
        font-size: 13px;	
        line-height: 18px;
        margin-top: 49px;
    }
    .btn{
        margin-top: 73px;
        height: 50px;	
        width: 168px;	
        border-radius: 3px;	
        background-color: #17B978;
        color: #FFFFFF;	
        font-family: Lato;	
        font-size: 14px;	
        font-weight: bold;	
        line-height: 27px;	
        text-align: center;
        cursor: pointer;
    }

}
