.create-new-container{
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 80vh;
    .create-new-content{
        overflow:auto;
        display: flex;
        flex-direction: row;
        width: inherit;
        .campaigns-form{
            display: flex;
            flex-direction: column;
            height: 80vh;
            width: 600px;
            margin-top: 40px;
            margin-left: 40px;
            .campaign-name{
                display: flex;
                flex-direction: column;
                label {
                    height: 18px;	
                    width: 112px;	
                    color: #637280;
                    font-family: Lato;	
                    font-size: 13px;	
                    font-weight: bold;	
                    line-height: 18px;
                }
                input[type='text']{
                    outline: none;
                    height: 50px;	
                    width: 180px;	
                    border: 1px solid  #D1DBE2;	
                    border-radius: 3px;	
                    background-color: #FFFFFF;
                }
            }
            .brand-name{
                margin-top: 30px;
                label {
                    height: 18px;	
                    width: 112px;	
                    color: #637280;
                    font-family: Lato;	
                    font-size: 13px;	
                    font-weight: bold;	
                    line-height: 18px;
                }
                .brand-name-upload{
                    display: flex;
                    flex-direction: column;
                    height: 120px;	
                    width: 180px;	
                    border:  1px solid #D1DBE2;	
                    border-radius: 3px;	
                    background: radial-gradient(circle, #FFFFFF 0%, #E0E0E0 100%);
                    align-items: center;
                    justify-content: center;

                    .brand-name-upload-btn{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 30px;	
                        width: 108px;	
                        border-radius: 3px;	
                        background-color: #17B978;
                        cursor: pointer;
                        p{
                            height: 27px;	
                            width: 46px;	
                            color: #FFFFFF;	
                            font-family: Lato;	
                            font-size: 14px;	
                            font-weight: bold;	
                            line-height: 27px;	
                            text-align: center;
                        }
                    }
                }
            }
            .campaign-punch-line{
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                label {
                    height: 18px;	
                    width: 112px;	
                    color: #637280;
                    font-family: Lato;	
                    font-size: 13px;	
                    font-weight: bold;	
                    line-height: 18px;
                }
                input[type='text']{
                    outline: none;
                    height: 50px;	
                    width: 360px;	
                    border: 1px solid  #D1DBE2;	
                    border-radius: 3px;	
                    background-color: #FFFFFF;
                }
        }
        .campaign-image{
            margin-top: 30px;
            margin-top: 5vh;
            label {
                height: 18px;	
                width: 112px;	
                color: #637280;
                font-family: Lato;	
                font-size: 13px;	
                font-weight: bold;	
                line-height: 18px;
            }
            .campaign-image-upload{
                display: flex;
                flex-direction: column;
                height: 192px;	
                width: 360px;	
                border:  1px solid #D1DBE2;	
                border-radius: 3px;	
                background: radial-gradient(circle, #FFFFFF 0%, #E0E0E0 100%);
                align-items: center;
                justify-content: center;

                .campaign-image-upload-btn{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 30px;	
                    width: 108px;	
                    border-radius: 3px;	
                    background-color: #17B978;
                    cursor: pointer;
                    p{
                        height: 27px;	
                        width: 46px;	
                        color: #FFFFFF;	
                        font-family: Lato;	
                        font-size: 14px;	
                        font-weight: bold;	
                        line-height: 27px;	
                        text-align: center;
                    }
                }
            }
        }
        }
        .campaigns-img{
            display: flex;
            flex-direction: row;
            height: 80vh;
            width: 600px;
            align-items: center;
            justify-content: center;
            
            img{
                width: 90%;
                height: 90%;
            }

        }
    }
    .create-new-footer{
        height: 15vh;
        width: inherit;
    }
}