.create-new-container{
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 80vh;
    .create-new-content{
        overflow:auto;
        display: flex;
        flex-direction: row;
        width: inherit;
        .campaigns-form{
            display: flex;
            flex-direction: column;
            height: 80vh;
            width: 600px;
            margin-top: 40px;
            margin-left: 40px;
            .about-brand{
                display: flex;
                flex-direction: column;
                label {
                    height: 18px;	
                    width: 100%;	
                    color: #637280;
                    font-family: Lato;	
                    font-size: 13px;	
                    font-weight: bold;	
                    line-height: 18px;
                }
                textarea{
                    outline: none;
                    height: 150px;	
                    width: 360px;	
                    border: 1px solid  #D1DBE2;	
                    border-radius: 3px;	
                    background-color: #FFFFFF;
                    word-wrap: break-word;
                }
                textarea::placeholder{
                    height: 36px;	
                    width: 321px;	
                    color: #637280;	
                    font-family: Lato;	
                    font-size: 13px;	
                    font-style: italic;	
                    line-height: 18px;
                    word-wrap: break-word;
                }
            }
            .special-instructions{
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                label {
                    height: 18px;	
                    width: 100%;	
                    color: #637280;
                    font-family: Lato;	
                    font-size: 13px;	
                    font-weight: bold;	
                    line-height: 18px;
                }
                textarea{
                    outline: none;
                    height: 150px;	
                    width: 360px;	
                    border: 1px solid  #D1DBE2;	
                    border-radius: 3px;	
                    background-color: #FFFFFF;
                    word-wrap: break-word;
                }
                textarea::placeholder{
                    height: 36px;	
                    width: 321px;	
                    color: #637280;	
                    font-family: Lato;	
                    font-size: 13px;	
                    font-style: italic;	
                    line-height: 18px;
                    word-wrap: break-word;
                }
            }
            .looking-for{
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                label {
                    height: 18px;	
                    width: 100%;	
                    color: #637280;
                    font-family: Lato;	
                    font-size: 13px;	
                    font-weight: bold;	
                    line-height: 18px;
                }
                textarea{
                    outline: none;
                    height: 150px;	
                    width: 360px;	
                    border: 1px solid  #D1DBE2;	
                    border-radius: 3px;	
                    background-color: #FFFFFF;
                    word-wrap: break-word;
                }
                textarea::placeholder{
                    height: 36px;	
                    width: 321px;	
                    color: #637280;	
                    font-family: Lato;	
                    font-size: 13px;	
                    font-style: italic;	
                    line-height: 18px;
                    word-wrap: break-word;
                }
            }
            
            .campaign-punch-line{
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                label {
                    height: 18px;	
                    width: 112px;	
                    color: #637280;
                    font-family: Lato;	
                    font-size: 13px;	
                    font-weight: bold;	
                    line-height: 18px;
                }
                input[type='text']{
                    outline: none;
                    height: 50px;	
                    width: 360px;	
                    border: 1px solid  #D1DBE2;	
                    border-radius: 3px;	
                    background-color: #FFFFFF;
                }
        }
        
        }
        .campaigns-img{
            display: flex;
            flex-direction: row;
            height: 80vh;
            width: 600px;
            align-items: center;
            justify-content: center;
            
            img{
                width: 90%;
                height: 90%;
            }

        }
    }
    .create-new-footer{
        height: 15vh;
        width: inherit;
    }
}