.create-new-container{
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 80vh;
    .create-new-content{
        overflow:auto;
        display: flex;
        flex-direction: row;
        width: inherit;
        .campaigns-form{
            display: flex;
            flex-direction: column;
            height: 80vh;
            width: 600px;
            margin-top: 40px;
            margin-left: 40px;
            .preloaded-shoutouts{
                display: flex;
                flex-direction: column;
                label {
                    height: 18px;	
                    width: 240px;	
                    color: #637280;	
                    font-family: Lato;	
                    font-size: 13px;	
                    font-weight: bold;	
                    line-height: 18px;
                }
                .preloaded-input{
                    display: flex;
                    flex-direction: row;
                    input[type='text']{
                        outline: none;
                        height: 50px;	
                        width: 310px;	
                        border: 1px solid  #D1DBE2;	
                        border-radius: 3px;	
                        background-color: #FFFFFF;
                    }
                    
                }
                input[type='text']::placeholder{
                    height: 18px;	
                    width: 212px;	
                    color: #637280;	
                    font-family: Lato;	
                    font-size: 13px;	
                    font-style: italic;	
                    line-height: 18px;
                }
            }

            .campaign-duration{
                display: flex;
                flex-direction: column;
                margin-top: 40px;
                label {
                    height: 18px;	
                    width: 240px;	
                    color: #637280;	
                    font-family: Lato;	
                    font-size: 13px;	
                    font-weight: bold;	
                    line-height: 18px;
                }
                .campaign-duration-dates{
                    display: flex;
                    flex-direction: row;
                    input[type='text']{
                        outline: none;
                        height: 50px;	
                        width: 165px;	
                        border: 1px solid  #D1DBE2;	
                        border-radius: 3px;	
                        background-color: #FFFFFF;
                    }
                    p{
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                    
                }
                input[type='text']::placeholder{
                    height: 18px;	
                    width: 107px;	
                    color: #637280;	
                    font-family: Lato;	
                    font-size: 13px;	
                    font-style: italic;	
                    line-height: 18px;
                }
            }
            .company-site{
                display: flex;
                flex-direction: column;
                margin-top: 40px;
                label {
                    height: 18px;	
                    width: 240px;	
                    color: #637280;	
                    font-family: Lato;	
                    font-size: 13px;	
                    font-weight: bold;	
                    line-height: 18px;
                }
                .www{
                    display: flex;
                    flex-direction: row;
                    input[type='text']{
                        outline: none;
                        height: 50px;	
                        width: 310px;	
                        border: 1px solid  #D1DBE2;	
                        border-radius: 3px;	
                        background-color: #FFFFFF;
                    }
                    
                }
                input[type='text']::placeholder{
                    height: 18px;	
                    width: 212px;	
                    color: #637280;	
                    font-family: Lato;	
                    font-size: 13px;	
                    font-style: italic;	
                    line-height: 18px;
                }
            }
        
        }
        .campaigns-img{
            display: flex;
            flex-direction: row;
            height: 80vh;
            width: 500px;
            align-items: center;
            justify-content: center;
            
            img{
                width: 90%;
                height: 90%;
            }

        }
    }
    .create-new-footer{
        height: 15vh;
        width: inherit;
    }
}