@import '../theme.scss';

.grid-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    .login-image-frame{
        height: 100vh;
        img{
            height: 100vh;
            width: 100%;
        }
    }
    .login-form-frame{
        margin-top: 10vh;
    }
}